/*
  Colors
*/
$white: #ffffff;
$black: #313131;

$blueDark: #050e2c;
$sapphire: #050e2c;
$winter: #f1f8fb;
$snow: #f5f7fa;
$blue: #70a9ff;
$gray: #ececec;

$xss: 1640;
$xs: 1440;
$md: 767;
$container: 1224px;
$indent: 10px;
$ff: "Inter", sans-serif;
$fz: 16px;
$lh: 1.4;

body {
  margin-bottom: 0;
  font-family: $ff;
  font-weight: 400;
  font-size: $fz;
  line-height: $lh;
  color: $black;
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: $container;
  margin-inline: auto;
  padding-inline: $indent;
}

.pos-r {
  position: relative;
}

.d-block {
  display: block;
}

.df-fs-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.df-fs-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.df-fs-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.df-fs-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.df-ce-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.df-ce-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.df-ce-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.df-ce-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.df-fe-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}
.df-fe-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.df-fe-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.df-sp-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.df-sp-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.df-sp-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.df-sp-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.w-100p {
  width: 100%;
}

.scroll-line-none::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scroll-line-none::-webkit-scrollbar-button {
  background-color: #666;
}
.scroll-line-none::-webkit-scrollbar-track {
  background-color: #999;
}
.scroll-line-none::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
.scroll-line-none::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: #666;
  border-radius: 3px;
}
.scroll-line-none::-webkit-scrollbar-corner {
  background-color: #999;
}
.scroll-line-none::-webkit-resizer {
  background-color: #666;
}

button,
input,
textarea {
  cursor: pointer;
}
.h2 {
  display: block;
  width: 100%;
  font-family: $ff;
}
.h3 {
  display: block;
  width: 100%;
  font-family: $ff;
}

.btn {
  //
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &.line-clamp-1 {
    -webkit-line-clamp: 1;
  }
  &.line-clamp-2 {
    -webkit-line-clamp: 2;
  }
  &.line-clamp-3 {
    -webkit-line-clamp: 3;
  }
  &.line-clamp-4 {
    -webkit-line-clamp: 4;
  }
}

.developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 50vh;
  padding-block: 80px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
