.footer {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 20px;
  background-color: $blueDark;
  .footer-text {
    display: block;
    width: 100%;
    font-family: $ff;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: $snow;
    transition: all 0.4s ease;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &:not(address):hover {
      color: $blue;
    }
  }
  .footer-blocks {
    width: 100%;
    .footer-block {
      display: block;
      width: 100%;
      max-width: 286px;
      .footer-logotype {
        display: block;
        height: inherit;
        max-height: 24px;
        margin-bottom: 20px;
        object-fit: contain;
      }
      .btn {
        justify-content: space-between;
        max-width: 100%;
      }

      .footer-menu {
        li {
          a {
            display: block;
            width: 100%;
            font-family: $ff;
            font-weight: 400;
            font-size: 14px;
            line-height: 114%;
            color: $snow;
            transition: all 0.4s ease;
            &:hover {
              color: $blue;
            }
          }
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
        .sub-menu {
          display: none !important;
        }
      }

      .social-items {
        gap: 8px;
        .social-item {
          display: block;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 64px;
    .footer-text {
      max-width: 48%;
      margin-bottom: 0;
      font-size: 12px;
      &[data-date]:before {
        content: attr(data-date);
        display: inline-block;
        color: $snow;
      }
    }
  }
}
