// PROGRESS BAR
.progress-content {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  .progress-bar {
    position: relative;
    display: block;
    width: 100%;
    .progress-line {
      position: relative;
      display: block;
      width: 100%;
      height: 18px;
      margin-bottom: 6px;
      background-color: #EDF6EC;
      border-radius: 100px;
      z-index: 2;
      .progress-line__real {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 18px;
        background-color: #49A244;
        border-radius: 100px;
      }
    }
    .progress-items {
      width: 100%;
      .progress-item {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: -0.02em;
        color: #515151;
        &:after { content: attr(data-start-value); }
        &:first-child { max-width: 30%; }
        &:last-child { max-width: 64%;text-align: right; }
      }
    }
  }
}

@media (max-width: 1440px) {}
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 576px) {}
@media (max-width: 460px) {}
@media (max-width: 400px) {}