@import "../slick/slick.min.css";
@import "../slick/slick-theme.min.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none; /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

ul {
  list-style: none;
}

/*
  Colors
*/
body {
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #313131;
  background-color: #f5f7fa;
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: 1224px;
  margin-inline: auto;
  padding-inline: 10px;
}

.blueDark {
  color: #050e2c;
}

.sapphire {
  color: #0b1b68;
}

.winter {
  color: #f1f8fb;
}

.snow {
  color: #f5f7fa;
}

.blue {
  color: #70a9ff;
}

.gray {
  color: #ececec;
}

.pos-r {
  position: relative;
}

.d-block {
  display: block;
}

.df-fs-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.df-fs-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.df-fs-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.df-fs-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.df-ce-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.df-ce-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.df-ce-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.df-ce-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.df-fe-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.df-fe-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.df-fe-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.df-sp-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.df-sp-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.df-sp-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.df-sp-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.w-100p {
  width: 100%;
}

.scroll-line-none::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroll-line-none::-webkit-scrollbar-button {
  background-color: #666;
}

.scroll-line-none::-webkit-scrollbar-track {
  background-color: #999;
}

.scroll-line-none::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.scroll-line-none::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: #666;
  border-radius: 3px;
}

.scroll-line-none::-webkit-scrollbar-corner {
  background-color: #999;
}

.scroll-line-none::-webkit-resizer {
  background-color: #666;
}

button,
input,
textarea {
  cursor: pointer;
}

.h2 {
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: #050e2c;
}

.h3 {
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.subtitle {
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #050e2c;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: max-content;
  padding: 8px 13px;
  font-family: "Inter", sans-serif;
  line-height: 1;
  text-align: center;
  transition: all 0.4s ease;
}
.btn:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  transition: all 0.4s ease;
}
.btn.btn-white {
  font-weight: 400;
  font-size: 16px;
  color: #050e2c;
  background-color: #f5f7fa;
  border-radius: 20px;
}
.btn.btn-white:hover {
  color: #f5f7fa;
  background-color: #050e2c;
}
.btn.btn-dark {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #050e2c;
  border-radius: 20px;
}
.btn.btn-dark:hover {
  color: #f5f7fa;
  background-color: #050e2c;
}
.btn.btn-blue-dark {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #0b1b68;
  border-radius: 20px;
}
.btn.btn-blue-dark:hover {
  background-color: #70a9ff;
}
.btn.icon-right-white:after {
  background: url("../img/icons/arrow-right-white.svg") center/contain no-repeat;
}
.btn.icon-right-dark-to-white:after {
  background: url("../img/icons/arrow-right-dark.svg") center/contain no-repeat;
}
.btn.icon-right-dark-to-white:hover:after {
  background: url("../img/icons/arrow-right-white.svg") center/contain no-repeat;
}
.btn.icon-right-white-to-dark:after {
  background: url("../img/icons/arrow-right-white.svg") center/contain no-repeat;
}
.btn.icon-right-white-to-dark:hover:after {
  background: url("../img/icons/arrow-right-dark.svg") center/contain no-repeat;
}
.btn.icon-bottom:after {
  background: url("../img/icons/arrow-bottom-white.svg") center/contain no-repeat;
}
.btn.icon-bottom:hover:after {
  background: url("../img/icons/arrow-bottom-white.svg") center/contain no-repeat;
}
.btn.btn-border-dark {
  border: 1px solid #050e2c;
}

.social-vk {
  background: url("../img/icons/social-vk.svg") center/contain no-repeat;
}

.social-tg {
  background: url("../img/icons/social-tg.svg") center/contain no-repeat;
}

.social-wt {
  background: url("../img/icons/social-wt.svg") center/contain no-repeat;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-clamp-1 {
  -webkit-line-clamp: 1;
}
.line-clamp.line-clamp-2 {
  -webkit-line-clamp: 2;
}
.line-clamp.line-clamp-3 {
  -webkit-line-clamp: 3;
}
.line-clamp.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 50vh;
  padding-block: 80px;
  background-color: rgba(0, 0, 0, 0.1);
}

.icon-lk-white {
  background: url("../img/icons/lk-white.svg") center/contain no-repeat;
  transition: all 0.4s ease;
}
.icon-lk-white:not(.icon-hover-none):hover {
  background: url("../img/icons/lk-dark.svg") center/contain no-repeat;
}

.icon-search-white {
  background: url("../img/icons/search-white.svg") center/contain no-repeat;
  transition: all 0.4s ease;
}
.icon-search-white:not(.icon-hover-none):hover {
  background: url("../img/icons/search-dark.svg") center/contain no-repeat;
}

.header {
  position: fixed;
  top: 16px;
  left: 50%;
  width: 100%;
  max-width: 1204px;
  padding: 8px 20px;
  background-color: #050e2c;
  border-radius: 20px;
  transform: translateX(-50%);
  z-index: 99;
}
.header .header-logotype {
  display: block;
}
.header .header-logotype img {
  display: block;
  max-width: 100%;
  height: inherit;
  max-height: 32px;
}
.header .header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 0;
  padding: 0;
}
.header .header-menu .menu-item {
  position: relative;
}
.header .header-menu .menu-item > a {
  position: relative;
  display: block;
  padding-block: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.header .header-menu .menu-item > a:hover {
  color: #70a9ff;
}
.header .header-menu .menu-item.menu-item-has-children:hover > ul.sub-menu {
  top: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
}
.header .header-menu .menu-item .sub-menu {
  position: absolute;
  top: 150%;
  left: 0;
  display: block;
  width: 300px;
  background-color: #050e2c;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.header .header-menu .menu-item .sub-menu li {
  display: block;
  margin-left: 0;
  padding: 0 6px;
  border-top: 1px solid #050e2c;
}
.header .header-menu .menu-item .sub-menu li a {
  display: block;
  padding: 0 0 0 20px;
  line-height: 45px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.header .header-menu .menu-item .sub-menu li a:hover {
  color: #70a9ff;
  padding-left: 30px;
}
.header .header-menu .menu-item .sub-menu li:first-child {
  border-top: none;
}
.header .header-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: max-content;
}
.header .header-icons .header-icon {
  display: block;
  width: 24px;
  height: 24px;
}
.header .header-icons .header-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .header-icons .header-icon:hover svg {
  stroke: #70a9ff;
}

.progress-content {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.progress-content .progress-bar {
  position: relative;
  display: block;
  width: 100%;
}
.progress-content .progress-bar .progress-line {
  position: relative;
  display: block;
  width: 100%;
  height: 18px;
  margin-bottom: 6px;
  background-color: #EDF6EC;
  border-radius: 100px;
  z-index: 2;
}
.progress-content .progress-bar .progress-line .progress-line__real {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18px;
  background-color: #49A244;
  border-radius: 100px;
}
.progress-content .progress-bar .progress-items {
  width: 100%;
}
.progress-content .progress-bar .progress-items .progress-item {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #515151;
}
.progress-content .progress-bar .progress-items .progress-item:after {
  content: attr(data-start-value);
}
.progress-content .progress-bar .progress-items .progress-item:first-child {
  max-width: 30%;
}
.progress-content .progress-bar .progress-items .progress-item:last-child {
  max-width: 64%;
  text-align: right;
}

.main {
  position: relative;
  display: block;
  width: 100%;
  background: #ffffff url("../img/main/main-1920.jpg") center/cover no-repeat;
  z-index: 20;
}
.main:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}
.main .container {
  position: relative;
  z-index: 10;
}
.main .line-wrap {
  align-content: flex-end;
  min-height: 660px;
  padding-bottom: 40px;
}
.main .h1 {
  display: block;
  width: 100%;
  max-width: max-content;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #f5f7fa;
}
.about {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 100px 50px;
  z-index: 20;
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
}
.about .line-wrap {
  margin-bottom: 24px;
}
.about .h2,
.about .line-wrap > .subtitle,
.about .about-block__content,
.about .about-block__image {
  max-width: calc(50% - 10px);
}
.about .about-block .about-block__content {
  display: block;
  width: 100%;
}
.about .about-block .about-block__content .subtitle {
  margin-bottom: 24px;
}
.about .about-block .about-block__content .about-item {
  position: relative;
  padding-left: 40px;
}
.about .about-block .about-block__content .about-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/icons/arrow-right-dark.svg") center/contain no-repeat;
}
.about .about-block .about-block__content .about-item:not(:last-child) {
  margin-bottom: 16px;
}
.about .about-block .about-block__image {
  display: block;
  width: 100%;
  border-radius: 20px;
}
.about .about-block.about-block-reverse .about-block__image {
  order: 1;
}
.about .about-block.about-block-reverse .about-block__content {
  order: 2;
}
.about .btn {
  margin: 0 0 0 auto;
}

.services {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 50px;
  z-index: 20;
}
.services .h2 {
  margin-bottom: 40px;
}
.services .services-slider {
  margin-left: calc((100% - 1224px) / 2);
}
.services .services-slider .services-slide {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-end;
  width: 388px;
  height: 227px;
  margin-right: 20px;
  padding: 20px 90px 20px 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #f5f7fa;
  background-color: #f5f7fa;
  border-radius: 20px;
  overflow: hidden;
}
.services .services-slider .services-slide:after {
  content: "";
  position: absolute;
  right: 24px;
  bottom: 16px;
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/icons/arrow-right-dark.svg") center/contain no-repeat;
}
.services .services-slider .services-slide .services-slide__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  z-index: 2;
}
.services .services-slider .services-slide .services-slide__title {
  position: relative;
  display: block;
  width: 100%;
  z-index: 8;
}
.services .services-slider .services-slide:hover img {
  transform: scale(1.04);
}

.methods {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 50px;
  z-index: 20;
}
.methods .h2 {
  margin-bottom: 40px;
}
.methods .methods-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}
.methods .methods-items .methods-item {
  position: relative;
  min-width: 0;
  padding: 20px;
  border-radius: 8px;
}
.methods .methods-items .methods-item .methods-item__bumber,
.methods .methods-items .methods-item .methods-item__descr {
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #050e2c;
}
.methods .methods-items .methods-item .methods-item__bumber {
  margin-bottom: 24px;
  font-weight: 500;
}
.methods .methods-items .methods-item .methods-item__title {
  margin-bottom: 12px;
}
.methods .methods-items .methods-item .btn {
  justify-content: space-between;
  max-width: 100%;
}
.methods .methods-items .methods-item.methods-item-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-end;
}

.research {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 50px;
  z-index: 20;
}
.research .h2 {
  margin-bottom: 40px;
}
.research .line-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.research .research-image {
  display: block;
  width: 286px;
  height: inherit;
  object-fit: cover;
  border-radius: 20px;
}
.research .accordion {
  display: flex;
  width: calc(100% - 612px);
  height: 300px;
  background-color: #0b1b68;
  border-radius: 24px;
  overflow: hidden;
}
.research .accordion .panel {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex: 0 0 60px;
  padding: 16px;
  background-color: #0b1b68;
  border-radius: 24px;
  border: 1px solid #0b1b68;
  transition: all 0.4s ease;
  cursor: pointer;
}
.research .accordion .panel:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/icons/plus-white.svg") center/contain no-repeat;
  transition: all 0.4s ease;
}
.research .accordion .panel .panel-title {
  position: relative;
  display: block;
  width: 100%;
  max-width: max-content;
  margin-right: 0px;
  padding-bottom: 30px;
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  writing-mode: vertical-lr;
  color: #f5f7fa;
  border-left: 1px solid #ffffff;
  transform: rotate(180deg);
}
.research .accordion .panel .panel-content {
  display: none;
  width: 100%;
}
.research .accordion .panel.active {
  flex: 1 1 auto;
  background-color: #f1f8fb;
}
.research .accordion .panel.active:before {
  background: url("../img/icons/minus-dark.svg") center/contain no-repeat;
}
.research .accordion .panel.active .panel-title {
  margin-right: 24px;
  color: #050e2c;
  border-color: #050e2c;
}
.research .accordion .panel.active .panel-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}
.research .btn {
  justify-content: space-between;
  max-width: 286px;
}

.news {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 50px;
  z-index: 20;
}
.news .h2 {
  margin-bottom: 40px;
}
.news .news-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  max-width: calc(100% - 408px);
}
.news .news-items .news-item {
  width: 100%;
}
.news .news-items .news-item .news-item__image {
  display: block;
  width: 286px;
  height: inherit;
  object-fit: cover;
  border-radius: 20px;
}
.news .news-items .news-item .news-item__content {
  position: relative;
  display: block;
  width: 100%;
  max-width: calc(100% - 326px);
  padding-bottom: 52px;
}
.news .news-items .news-item .news-item__content .news-date {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #70a9ff;
}
.news .news-items .news-item .news-item__content .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  max-width: 266px;
}
.news .btn {
  justify-content: space-between;
  max-width: 388px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  max-height: 850px;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  overflow-y: scroll;
  z-index: 10;
}

.popup-pdf {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  min-width: 320px;
  width: 1280px;
  max-width: calc(100vw - 20px);
  transform: translate(-50%, -50%);
  z-index: 999;
}
.popup-pdf .popup-close {
  width: 50px !important;
  height: 50px !important;
  position: absolute !important;
  right: -15px !important;
  top: -50px !important;
  cursor: pointer !important;
}
.popup-pdf .popup-close:before,
.popup-pdf .popup-close:after {
  content: "";
  position: absolute;
  top: 24px;
  left: 16px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
  display: inline-block;
}
.popup-pdf .popup-close:after {
  transform: rotate(-45deg);
}
.popup-pdf.active {
  display: block;
}
.popup-pdf .popup-pdf--iframe {
  width: 100%;
  height: calc(100svh - 100px);
}

.btn-popup-pdf {
  cursor: pointer;
}

.popup-subscr {
  display: none;
  width: 900px;
  height: 300px;
  z-index: 1000;
}
.popup-subscr .popup-subscr.active {
  display: block;
}
.popup-subscr .popup-subscr .popup-wrap {
  display: flex;
  background-color: #fff;
}
.popup-subscr .popup-subscr .popup-subscr-img {
  max-width: 400px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 400px;
}
.popup-subscr .popup-subscr .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.popup-subscr .popup-subscr .text {
  padding: 30px;
}
.popup-subscr .popup-subscr p {
  margin-bottom: 15px;
}
.popup-subscr .popup-subscr a {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .popup-subscr .popup-wrap {
    flex-wrap: wrap;
  }
  .popup-subscr {
    width: 400px;
  }
  .popup-subscr .text {
    padding: 20px;
  }
  .popup-subscr .title {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .popup-subscr {
    width: 320px;
  }
  .popup-subscr .popup-subscr-img {
    max-width: 320px;
    height: 300px;
    width: 320px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media (max-width: 576px) and (max-height: 750px) {
  .popup-subscr .popup-subscr-img {
    display: none;
  }
}
.footer {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 20px;
  background-color: #050e2c;
}
.footer .footer-text {
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #f5f7fa;
  transition: all 0.4s ease;
}
.footer .footer-text:not(:last-child) {
  margin-bottom: 12px;
}
.footer .footer-text:not(address):hover {
  color: #70a9ff;
}
.footer .footer-blocks {
  width: 100%;
}
.footer .footer-blocks .footer-block {
  display: block;
  width: 100%;
  max-width: 286px;
}
.footer .footer-blocks .footer-block .footer-logotype {
  display: block;
  height: inherit;
  max-height: 24px;
  margin-bottom: 20px;
  object-fit: contain;
}
.footer .footer-blocks .footer-block .btn {
  justify-content: space-between;
  max-width: 100%;
}
.footer .footer-blocks .footer-block .footer-menu li a {
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #f5f7fa;
  transition: all 0.4s ease;
}
.footer .footer-blocks .footer-block .footer-menu li a:hover {
  color: #70a9ff;
}
.footer .footer-blocks .footer-block .footer-menu li:not(:last-child) {
  margin-bottom: 12px;
}
.footer .footer-blocks .footer-block .footer-menu .sub-menu {
  display: none !important;
}
.footer .footer-blocks .footer-block .social-items {
  gap: 8px;
}
.footer .footer-blocks .footer-block .social-items .social-item {
  display: block;
  width: 24px;
  height: 24px;
}
.footer .footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 64px;
}
.footer .footer-bottom .footer-text {
  max-width: 48%;
  margin-bottom: 0;
  font-size: 12px;
}
.footer .footer-bottom .footer-text[data-date]:before {
  content: attr(data-date);
  display: inline-block;
  color: #f5f7fa;
}/*# sourceMappingURL=app.css.map */